.counterButton {
    background-color: #f1faee;
    border: 1px solid #457b9d;
    color: #457b9d;
    font-weight: bold;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0.3rem;
    transition: background-color 0.3s ease;
}

.counterButton:hover {
    background-color: #a8dadc;
}

.formButton{
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    background-color: #457b9d;
    color: white;
    transition: background-color 0.3s ease;
}

.formButton:hover {
     background-color: #1d3557;
}