.dark {
      background-color: #457b9d;
}

.dark:hover {
  background-color: #1d3557;
}

.light {
  background-color: #a8dadc;
}

.light:hover {
    backdarkground-color: #457b9d;
}

.dark:disabled {
    background-color: #a8dadc;
    cursor: not-allowed;
}

.light:disabled {
  background-color: #87a3a4;
}

